body {
    color: #333333;
    font: 12px Arial,Verdana,Helvetica,sans-serif;
    text-align: center;
}
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, blockquote, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
table, td, tr, th {
    font-size: 12px;
}
input, select {
    vertical-align: middle;
}
table {
    margin: 0 auto;
}
img {
    border: medium none;
}
ol, ul, li {
    list-style: none outside none;
}
em {
    color: #999999;
    font-family: Tahoma,Verdana,helvetica;
    font-size: 10px;
    font-style: normal;
    white-space: nowrap;
}
a {
    color: #005FAB;
    text-decoration: none;
}
a:link {
    color: #3B5999;
    text-decoration: none;
}
a:visited {
    color: #3B5999;
    text-decoration: none;
}
a:hover {
    color: #3B5999;
    text-decoration: underline;
}
a:active {
    color: #3B5999;
}
.cWhite, .cWhite:visited, a.cWhite {
    color: #FFFFFF;
}
.cYellow, .cYellow:visited {
    color: #FFFF00;
}
.cGray, .cGray:visited, a.cGray {
    color: #333333;
}
.cGray2, .cGray2:visited, a.cGray2 {
    color: #999999;
}
.cBlack, .cBlack:visited, a.cBlack {
    color: #000000;
}
.cBlue, .cBlue:visited, a.cBlue {
    color: #005FAB;
}
.cRed, .cRed:visited, a.cRed {
    color: Red;
}
.cGreen, a.cGreen:link, a.cGreen:visited {
    color: #008000;
}
.fn {
    font-weight: normal;
}
.fI {
    font-style: italic;
}
.fu, .fu a {
    text-decoration: underline;
}
.f12px {
    font-size: 12px;
}
.f14px {
    font-size: 14px;
}
.f16px {
    font-size: 16px;
}
.f18px {
    font-size: 18px;
}
.alR {
    text-align: right;
}
.alL {
    text-align: left;
}
.alC {
    text-align: center;
}
.alM {
    vertical-align: middle;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.c {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.hidden {
    display: none;
}
.OverH {
    overflow: hidden;
    white-space: nowrap;
}
.hand {
    cursor: pointer;
}
.WB {
    word-wrap: break-word;
}
.wn {
    white-space: nowrap;
}
.lineD {
    border-bottom: 1px dashed #E2E2E2;
}
.btn_b {
    background: url("images/btn_b.gif") no-repeat scroll 0 0 #567AB4;
    border: 0 none;
    color: #FFFFFF;
    height: 24px;
    width: 60px;
}
.btn_w {
    background: url("images/btn_w.gif") no-repeat scroll 0 0 #FCFCFC;
    border: 0 none;
    color: #333333;
    height: 24px;
    width: 60px;
}
