@CHARSET "UTF-8";

div[d300]{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; text-align:center; width:300px;}
div[d200]{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; text-align:center; width:200px;}
div[d100]{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; text-align:center; width:100px;}

.list_title{text-align:left; padding:10px; font-size:18px; background-color:#42A0FF; color:#FFF; position:fixed; top:0px; width:100%;}
.list_title .i_title{float:left; padding:0 10px;}
.list_title .i_input{padding:0 10px; text-align:center;}


.list_table{text-align:center; margin-top:48px;}
.list_table td[last]{text-align:right;}
.list_table td[last] a{color:#42A0FF;}
.list_table tr[mark]{background-color:#F3F3F3;}
.list_table tr[mark] td{font-size:18px; padding:5px;}
.list_table tr[list]{}
.list_table tr[list] td{}
/* .list_table tr[list] td:hover{background-color:#3CB4FF;} */
.list_table tr[list] select{font-size:10px; border:none; border-radius:0px;}
.list_table tr[list] input[type="text"]{border:none;}
/* .list_table tr[list]:hover input[type="text"]{border:none; background-color:#42A0FF; color:#FFF;} */
.list_table tr[list]:hover{background-color:#42A0FF !important; color:#FFF !important;}
.list_table tr[list]:hover a{color:#FFF;}
.list_table tr[add]{background-color:#F3F3F3; line-height:40px;}
.list_table tr[add] td{padding:5px 20px;}

.in{width:400px;}
.in200{width:200px;}

.proportion_div{height:26px; line-height:26px; border:#FFF solid 1px;}
.proportion_div .block{float:left; height:26px; line-height:26px;}

.body_title{font-size:28px; font-weight:bold; background-color:#F3F3F3; padding:5PX 20px;}
.body_content{padding:5PX 20px;}
