/* CSS Document */
img{vertical-align:top; border:none;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, q, strong, dd, dl, dt, li, ol, ul, form, label, table, tbody, tr, th, td, input,textarea{
 margin:0px;
 padding:0px;
}
input,textarea,select{
 outline: none;/*chrome取消高亮*/
}
a{ 
 text-decoration:none;
 }
a:link{
 text-decoration:none;
}
a:visited{
 text-decoration:none;
}
a:hover{
text-decoration:underline;
}
body{
 font-size:13px;
 width:100%;
 font-family:"Microsoft Yahei","微软雅黑",Arial,Helvetica,STHeiti;
 background:#f3f3f3;
 cursor:default;
}
/*logo及导航*/
.top{
 width:100%;
 height:81px;
 background:url(../images/top_bg.jpg) repeat-x;
}
.top_main{
 width:1150px;
 height:66px;
 margin:0px auto;
 position:relative;
}
.logo{
 position:absolute;
 top:0px;
 left:60px;
 width:115px;
 height:66px;
}
.navigation{
 float:left;
 width:500px;
 height:66px;
 font-size:16px;
 font-family:"Microsoft Yahei","微软雅黑";
 margin-left:400px;
 _display:inline;
}
.navigation ul{
 list-style:none;
}
.navigation ul li{
 float:left;
 width:90px;
 height:44px;
 margin-top:16px;
 text-align:center;
 margin-right:5px;
}
.navigation ul li a{
 display:block;
 color:#127780;
 padding:6px 6px 8px;
}
.navigation ul li a:hover{
 color:#FFFFFF;
 background:url(../images/navigation_on2.gif) no-repeat;
  text-decoration:none;
}
.n1_current a{
 padding:6px 0px 0px;
 background:url(../images/navigation_on2.gif) no-repeat;
 cursor:pointer;
 color:#FFFFFF !important;
}
.message{
 float:right;
 width:225px;
 height:36px;
 margin:14px 0px 14px 0px;
}
.message ul{
 list-style:none;
}
.message ul li{
 float:left;
 width:40px;
 height:16px;
 font-size:12px;
 overflow:hidden;
 padding-top:20px;
}
.message ul li a{
 color:#085458;
}
.message ul li a:hover{
 color:#525252;
}
.message ul li.m1{
 background:url(../images/top_cion.png) no-repeat -3px -10px;
}
.message ul li.m2{
 background:url(../images/top_cion.png) no-repeat -3px -45px;
}
.message ul li.m3{
 background:url(../images/top_cion.png) no-repeat -3px -78px;
}
.message ul li.m4{
 background:url(../images/top_cion.png) no-repeat -2px -114px;
}
/*首页网页框架样式*/
.all_frame{
 width:900px;
 margin:0px auto;
 height:auto;
}
.width_916{
 width:916px;
 margin-top:12px;
}
.left_frame{
 float:left;
 width:646px;
 height:auto;
}
.right_frame{
 float:left;
 width:212px;
 height:auto;
 margin-left:42px;
}
.right_w218{
 width:218px;
 margin-left:52px;
 _margin-left:50px;
}
/*副导航及头像*/
.v_navigation,.v_navigation dl{
 float:left;
 width:646px;
 height:95px;
}
.v_navigation dl{
 list-style:none;
}
.v_navigation dl dt{
 float:left;
 width:66px;
 height:66px;
 margin:6px 18px 21px 0px;
 border:#dde6e6 1px solid;
 background:#FFFFFF;
 position:relative;
}
.vatar_bg{
 position:absolute;
 left:1px;
 top:49px;
 width:64px;
 height:15px;
 _overflow:hidden;
 padding-top:1px;
 _padding-top:0px;
 background:#000000;
 z-index:2;
 opacity:0.6;/*支持ff*/
 filter:Alpha(Opacity=60); /*支持IE*/
 color:#fff;
 font-size:12px;
 text-align:center;
 cursor:pointer;
}
.v_navigation dl dt img{
 width:64px;
 height:64px;
 margin:1px;
}
.v_navigation dl dd{
 float:left;
 width:62px;
 height:37px;
 margin:21px 0px 31px 0px;
 font-size:20px;
 font-family:"Microsoft Yahei","微软雅黑";
 padding:6px 0px 0px 50px;
}
.v_navigation dl dd.v_nav1{
 background:url(../images/v_navigation_bg.png) no-repeat;
}
.v_navigation dl dd.v_nav2{
 background:url(../images/v_navigation_bg.png) no-repeat -448px 0px;
}
.v_navigation dl dd.v_nav3{
 background:url(../images/v_navigation_bg.png) no-repeat -224px 0px;
}
.v_navigation dl dd.v_nav4{
 background:url(../images/v_navigation_bg.png) no-repeat -336px 0px;
}
.v_navigation dl dd.v_nav5{
 background:url(../images/v_navigation_bg.png) no-repeat -112px 0px;
}
.v_navigation dl dd a{
 color:#fff;
}
.v_navigation dl dd a:hover{
 color:#99eaee;
 text-decoration:none;
}
/*用户动态信息图文*/
.box_list{
 float:left;
 width:642px;
 height:auto;
 background:#fff;
 border-bottom:#e5ecec 1px solid;
 border-top:#e5ecec 1px solid;
 border-left:#e5ecec 1px solid;
 border-right:#e5ecec 1px solid;
}
.feed{
 float:left;
 width:642px;
 height:auto;
 _margin-right:-3px;
 overflow:hidden;
 position:relative;
}
.time_user{
position:absolute;
color:#bcbcbc;
left:15px;
bottom:10px;
z-index:100;
font-size:12px;
}
.head_user{
 float:left;
 width:90px;
 height:80px;
}
.head_user img{
 width:58px;
 height:58px;
 border:#cfcfcf 1px solid;
 margin:20px 15px 0px 15px;
}
.trend_user{
 float:left;
 width:520px;
 height:auto;
 overflow:hidden;
}
.trend_username{
 float:left;
 width:290px;
 height:19px;
 padding-top:21px;
 padding-left:10px;
}
.trend_username a{
  color:#8d8d8d;
}
.trend_username a:hover{
  color:#568D99;
}
.trend_options{
 float:left;
 width:220px;
 height:19px;
 margin-top:21px;
 text-align:right;
 color:#568d99;
}
.trend_options em{
 float:right;
 width:42px;
 height:19px;
 font-style:normal;
 cursor:pointer;
 margin-left:10px;
}
.trend_options em a.love_off{
 display:block;
 width:42px;
 height:19px;
 background:url(../images/love.gif) no-repeat -7px -10px;
 *line-height:21px;
}
.trend_options em a.love_off:hover{
 background:url(../images/love.gif) no-repeat -7px -43px;
 text-decoration:none;
}
.trend_options em a.love_on{
 background:url(../images/love.gif) no-repeat -7px -43px !important;
}
.trend_options a{
 color:#568d99;
}
.trend_options a:hover{
 color:#525252;
}
.trend_main{
 float:left;
 width:520px;
 height:auto;
 clear:both;
}
.trend_title{
 width:504px;
 height:32px;
 line-height:32px;
 margin:0px 8px;
 color:#333333;
 font-family:"Microsoft Yahei","微软雅黑";
 font-size:20px;
 font-weight:500;
}
.trend_content{
  width:504px;
  margin:0px 8px;
  clear:both;
}
/*用户动态信息（图片类样式）*/
.img_small{
 float:left;
 width:504px;
 height:auto;
 padding-top:10px;
}
.img_small_tu{
 float:left;
 width:120px;
 height:auto;
 margin-right:5px;
}
.img_small_tu img{
 width:120px;
 cursor:pointer;
}
.img_big{
 float:left;
 width:504px;
 height:auto;
 padding-top:10px;
}
.img_big_tu{
 float:left;
 width:auto;
 height:auto;
 clear:both;
 padding-bottom:16px;
}
.img_big_tu img{
 max-width:500px;
 _width:expression(this.width > 500 ? "500px" : true);/*支持IE6*/
 cursor:pointer;
 height:auto;
}
.img_text{
 float:left;
 width:504px;
 height:auto;
 word-wrap: break-word;
 overflow: hidden;
 padding:15px 0px;
 font-size:14px;
 line-height:24px;
}
/*用户动态信息（图文字类样式）*/
.wen_img{
 float:left;
 width:500px;
 height:auto;
}
.wen_img_tu{
 float:left;
 width:auto;
 height:auto;
 clear:both;
 padding-bottom:16px;
}
.wen_img_tu img{
 max-width:500px;
 _width:expression(this.width > 500 ? "500px" : true);/*支持IE6*/
 cursor:pointer;
 height:auto;
}
.wen_trend {
 float:left;
 width:504px;
 height:auto;
}
.wen_trend p{
 word-wrap: break-word;
 overflow: hidden;
 margin:15px 0px;
 font-size:14px;
 line-height:24px;
}
.wen_trend img{
 margin-right:15px;
 margin-bottom:8px;
 vertical-align:text-top;
 float:left;
 width:120px;
 height:auto;
 cursor:pointer;
}
/*用户动态信息（音乐类样式）*/
.music_trend{
 float:left;
 width:504px;
 height:auto;
 overflow:hidden;
 padding-bottom:10px;
 padding-top:10px;
}
.music_trend p{
 word-wrap:break-word;
 margin:0px;
 font-size:14px;
 line-height:24px;
 _margin-top:-10px;
}
.music_trend_tu{
 float:left;
 width:120px;
 height:auto;
 margin-right:15px;
}
.music_trend_tu img{
 width:120px;
 height:auto;
 cursor:pointer;
}
.music_trend_mus{
 float:left;
 width:369px;
 height:33px;
 margin-bottom:10px;
}
.music_trend_off{
 float:left;
 width:257px;
 height:33px;
 background:url(../images/xiami_player.jpg) no-repeat;
 cursor:pointer;
}
.music_trend_off a{
 display:block;
 padding:0px 40px;
 color:#444444;
 overflow:hidden;
 height:33px;
 line-height:33px;
 text-decoration:underline;
}
.music_trend_off a:hover{
 color:#444444;
}
/*用户动态信息（视频类样式）*/
.video_trend{
 float:left;
 width:504px;
 height:auto;
 overflow:hidden;
 padding-bottom:10px;
 padding-top:10px;
}
.video_trend p{
 word-wrap:break-word;
 font-size:14px;
 line-height:24px;
}
.video_trend_tu{
 float:left;
 position:relative;
 width:120px;
 height:auto;
 margin-right:15px;
 margin-bottom:8px;
 cursor:pointer;
}
.video_trend_tu img{
 width:120px;
 height:auto;
}
.video_trend_coin{
 position:absolute;
 width:43px;
 height:48px;
 left:35%;
 top:35%;
 background:url(../images/player.png) no-repeat;
 _background:url(../images/player.gif) no-repeat;
 z-index:2;
}
.video_full{
 float:left;
 width:500px;
 height:auto;
}
.video_full_link{
 width:500px;
 height:15px;
 padding-top:4px;
}
.video_to_link{
 color:#444444;
 float:left;
}
.video_to_link a{
 color:#444444;
 text-decoration:underline;
}
.video_to_off{
 color:#444444;
 float:right;
 color:#444444;
 cursor:pointer;
}
/*用户动态信息（链接类样式）*/
.link_trend{
 float:left;
 width:504px;
 height:auto;
 overflow:hidden;
 padding-bottom:20px;
 padding-top:10px;
}
.link_trend a{
 color:#333333;
}
.link_trend a:hover{
 color:#568D99;
}
.link_trend p{
 word-wrap:break-word;
 font-size:14px;
 line-height:24px;
}
/*标签等*/
.trend_tag{
 float:left;
 width:504px;
 height:38px;
 margin:0px 8px;
 height:38px;
 line-height:38px;
 font-size:12px;
 color:#a3c7cf;
 display:inline;
}
.trend_tag{
 width:512px;
 height:25px;
 margin-left:8px;
 height:25px;
 line-height:25px;
 font-size:12px;
}
.t_tag{
 float:left;
 width:358px;
 height:25px;
 color:#a3c7cf;
}
.t_tag a{
 color:#a3c7cf;
 margin-right:12px;
}
.t_tag a:hover{
 color:#525252;
}
.t_options{
 float:left;
 width:154px;
 text-align:right;
 height:25px;
}
.t_options a {
    color: #568D99;
    margin-left:12px;
	margin-right:0px;
}
.t_options a:hover{
  color:#525252;
}
.dotted_line{
 float:left;
 width:616px;
 height:6px;
 margin:0px 13px;
 overflow:hidden;
 border-bottom:#cccccc 1px dashed;
 _display:inline;
 _clear:both;
}
/*回应及评论*/
.response{
float:left;
width:518px;
height:auto;
padding-bottom:10px;
background:#f7f8f8;
border-left:#f1f1f1 1px solid;
border-right:#f1f1f1 1px solid;
position:relative;
}
.response_top{
 position:absolute;
 width:518px;
 height:10px;
 top:-8px;
 left:0px;
 z-index:4;
 background:url(../images/response_text.gif) no-repeat;
}
.r_text{
 float:left;
 width:397px;
 height:40px;
 line-height:22px;
 border:#bebebe 1px solid;
 margin-top:15px;
 margin-left:10px;
 background:#FFF;
 overflow-y:auto;
 padding:4px;
 font-size:13px;
}
.r_button{
 float:left;
 width:78px;
 height:30px;
 border:0;
 background:none;
 margin-top:15px;
 margin-left:10px;
 background:url(../images/response_but.jpg) no-repeat;
 cursor:pointer;
}
.r_button_on{
 background:url(../images/response_but2.jpg) no-repeat;
}
.discuss_list{
 float:left;
 width:518px;
 height:auto;
 background:#f7f8f8;
 border-bottom:#f1f1f1 1px solid;
 border-left:#f1f1f1 1px solid;
 border-right:#f1f1f1 1px solid;
 padding-bottom:6px;
}
.discuss_list ul{
 list-style:none;
}
.discuss_list ul li{
 width:490px;
 line-height:22px;
 padding:0px 14px;
 word-wrap:break-word; 
 overflow:hidden;
}
.discuss_list ul li em{
 font-style:normal;
 color:#5d5d5d;
}
.discuss_list ul li a{
 color:#989898;
}
.discuss_list ul li a:hover{
 color:#568D99;
}
/*首页右侧*/
/*搜索*/
.search_inp{
 float:left;
 width:208px;
 background:url(../images/text_search.jpg) no-repeat;
 height:38px;
 margin-top:21px;
 position:relative;
}
.inp_prompt{
 position:absolute;
 width:208px;
 height:24px;
 left:0px;
 top:38px;
 color:#FFFFFF;
 font-size:12px;
 padding-top:16px;
 padding-left:10px;
 background:url(../images/prompt.png) no-repeat;
 _background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/prompt.png')
}
.search_bg{
 background:url(../images/text_search.jpg) no-repeat 0px -38px;
}
.text_sewrch{
 float:left;
 width:161px;
 height:38px;
 line-height:38px;
 border:0;
 color:#727272;
 margin-left:8px;
 margin-right:8px;
 background:none;
 font-size:12px;
}
.search_but{
 float:left;
 width:30px;
 height:38px;
 border:0;
 background:none;
 cursor:pointer;
}
/*用户信息*/
.user{
 float:left;
 width:200px;
 height:41px;
 line-height:41px;
 font-size:16px;
 background:url(../images/user_bg.jpg) no-repeat;
 padding-left:12px;
 margin-top:12px;
}
.user a{
 color:#fff;
}
.user a:hover{
 color:#fff;
 text-decoration:none;
}
.user_type{
 float:left;
 width:185px;
 height:37px;
 line-height:37px;
 background:url(../images/user_type.jpg) no-repeat;
 margin-right:15px;
 color:#6a888b;
 font-size:14px;
 padding-left:12px;
 display:inline;
}
.use_main{
 float:left;
 width:212px;
 height:auto;
}
.use_main a:hover{
 text-decoration:none;
}
.use_main dl{
 float:left;
 list-style:none;
 width:195px;
 height:30px;
 margin:0px 15px 0px 1px;
 background:#e2e4e7;
 border-bottom:#cacccf 1px solid;
 border-right:#cacccf 1px solid;
 border-top:#f3f3f4 1px solid;
 display:inline;
 cursor:pointer;
}
.use_main dl dt{
 float:left;
 width:41px;
 height:30px;
}
.u_coin0{
 background:url(../images/user_coin.png) no-repeat -1px 0px;
}
.u_coin1{
 background:url(../images/user_coin.png) no-repeat 0px -31px;
}
.u_coin2{
 background:url(../images/user_coin.png) no-repeat 0px -64px;
}
.u_coin3{
 background:url(../images/user_coin.png) no-repeat 0px -96px;
}
.u_coin4{
 background:url(../images/user_coin.png) no-repeat 0px -128px;
}
.use_main dl dd{
 float:left;
 width:153px;
 height:30px;
 line-height:30px;
 color:#6a888b;
 font-size:14px;
}
.u_number{
 position:relative;
 width:1px;
 height:1px;
}
.u_number_main{
 position:absolute;
 width:40px;
 height:13px;
 top:5px;
 left:64px; 
}
.u_number_mainl{
 float:left;
 width:6px;
 height:13px;
 background:url(../images/number_bg.gif) no-repeat;
}
.u_number_mainm{
 float:left;
 width:auto;
 height:13px;
 background:#628b5b;
 color:#fff;
 line-height:13px;
 *line-height:15px;
 *overflow:hidden;
 font-size:12px;
}
.u_number_mainr{
 float:left;
 width:2px;
 height:13px;
 background:url(../images/number_bg.gif) no-repeat -15px 0px;
}
.use_date{
 float:left;
 width:197px;
 height:57px;
 background:url(../images/user_date.jpg) no-repeat;
}
.use_date ul{
 float:left;
 list-style:none;
 margin-top:1px;
}
.use_date ul li{
 float:left;
 height:55px;
 font-size:14px;
 text-align:center;
}
.use_date ul li.u_da_li1{
 width:70px;
 margin-left:1px;
 _display:inline;
}
.use_date ul li.u_da_li1 a{
 color:#6a888b;
 display:block;
 width:70px;
 height:46px;
 padding-top:9px;
}
.use_date ul li.u_da_li1 a:hover{
 text-decoration:none;
 background:url(../images/user_date.jpg) no-repeat -2px -58px;
}
.use_date ul li.u_da_li2{
 width:62px;
 margin-left:2px;
 _display:inline;
}
.use_date ul li.u_da_li2 a{
 color:#6a888b;
 display:block;
 width:62px;
 height:46px;
 padding-top:9px;
}
.use_date ul li.u_da_li2 a:hover{
 text-decoration:none;
 background:url(../images/user_date.jpg) no-repeat -73px -58px;
}
.use_date ul li.u_da_li3{
 width:59px;
 margin-left:2px;
 _display:inline;
}
.use_date ul li.u_da_li3 a{
 color:#6a888b;
 display:block;
 width:59px;
 height:46px;
 padding-top:9px;
}
.use_date ul li.u_da_li3 a:hover{
 text-decoration:none;
 background:url(../images/user_date.jpg) no-repeat -137px -58px;
}
.use_adte_span1{
 color:#108994;
 font-weight:bold;
}
/*小区信息*/
.community_name{
 float:left;
 width:197px;
 height:40px;
 line-height:40px;
 background:url(../images/community_name.jpg) no-repeat;
 font-size:14px;
 margin-top:13px;
 cursor:pointer;
}
.community_name a{
 display:block;
 width:180px;
 height:40px;
 padding-left:17px;
 color:#6a888b;
}
.community_name a:hover{
 background:url(../images/community_on.gif) no-repeat;
 text-decoration:none;
}
.community_date{
 float:left;
 width:197px;
 height:61px;
 background:url(../images/community_date.jpg) no-repeat;
}
.community_date ul{
 list-style:none;
}
.community_date ul li{
 float:left;
 width:197px;
 height:30px;
 line-height:30px;
 font-size:14px;
}
.community_date ul li.community_li1 a,.community_date ul li.community_li2 a{
 display:block;
 width:171px;
 padding-left:26px;
 color:#383838;
}
.community_date ul li.community_li1 a:hover{
 background:url(../images/community_on.gif) no-repeat 0px -40px;
 text-decoration:none;
}
.community_date ul li.community_li2 a:hover{
 background:url(../images/community_on.gif) no-repeat 0px -70px;
 text-decoration:none;
}
/*标签搜索*/
.tag_all{
 float:left;
 width:199px;
 height:38px;
 background:url(../images/tag_bg.png) no-repeat 2px -38px;
 _background:url(../images/tag_bg.gif) no-repeat 2px -38px;
 margin-top:13px;
}
.tag_pr{
 position:relative;
 z-index:1000;
 width:1px;
 height:1px;
}
.tag_prompt{
 position:absolute;
 width:176px;
 height:65px;
 left:0px;
 top:38px;
 *top:0px;
 color:#FFFFFF;
 font-size:12px;
 padding:14px 0px 10px 10px;
 background:url(../images/prompt2.png) no-repeat;
 _background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/prompt2.png');
 z-index:100;
}
.tag_bg{
 background:url(../images/tag_bg.png) no-repeat 2px 0px;
 _background:url(../images/tag_bg.gif) no-repeat 2px 0px;
}
.tag_text{
 float:left;
 width:145px;
 height:38px;
 line-height:38px;
 border:0;
 color:#6a888b;
 font-size:13px;
 margin-left:21px;
 background:none;
}
.tag_but{
 float:left;
 width:33px;
 height:38px;
 border:0;
 background:none;
 cursor:pointer;
}
/*热门标签*/
.hot_tag{
 float:left;
 width:196px;
 height:auto;
 font-size:14px;
 margin-top:6px;
 margin-left:3px;
 _display:inline;
}
.hot_tag dl{
 list-style:none;
}
.hot_tag dl dt{
 float:left;
 width:196px;
 height:40px;
 line-height:40px;
}
.hot_tag dl dd{
 float:left;
 width:196px;
 height:40px;
 line-height:40px;
 margin-top:4px;
}
.hot_tag dl dt a,.hot_tag dl dd a{
 display:block;
 width:180px;
 height:40px;
 padding-left:16px;
 color:#6a888b;
 background:url(../images/hot_tag.jpg) no-repeat -3px 0px;
}
.hot_tag dl dt a:hover,.hot_tag dl dd a:hover{
 background:url(../images/hot_tag.jpg) no-repeat -3px -40px;
 text-decoration:none;
}
/*小区信息同城信息*/
.info{
 float:left;
 width:195px;
 height:auto;
 margin-left:4px;
 _display:inline;
}
.info_name{
 float:left;
 width:195px;
 height:40px;
 line-height:40px;
 font-size:14px;
 margin-top:12px;
 background:url(../images/info_name.jpg) no-repeat;
 position:relative;
}
.info_name a{
 display:block;
 width:153px;
 height:40px;
 padding-left:42px;
 color:#6a888b;
}
.info_name a:hover{
 background:url(../images/info_on.jpg) no-repeat;
 text-decoration:none;
}
.info_name_more{
 position:absolute;
 top:-4px;
 *top:-2px;
 right:5px;
 width:20px;
 height:20px;
 font-size:24px;
}
.info_name_more a{
 display:inline !important;
 width:20px !important;
 height:20px !important;
 padding-left:0px !important;
}
.info_name_more a:hover{
 background:none !important;
 color:#525252;
}
.info_main{
 float:left;
 width:195px;
 height:190px;
 background:url(../images/info_main.jpg) no-repeat;
}
.info_main dl{
 list-style:none;
}
.info_main dl dt{
 float:left;
 width:193px;
 height:55px;
 margin-left:1px;
 _display:inline;
}
.info_main dl dt a{
 display:block;
 width:167px;
 height:46px;
 padding:8px 10px 0px 16px;
 _overflow:hidden;
 _padding-left:15px;
}
.info_main a:hover{
 text-decoration:none;
}
.info_main dl dd{
 float:left;
 width:193px;
 margin-left:1px;
 margin-top:2px;
 _display:inline;
}
.dd_class1{
 height:52px;
}
.dd_class1 a{
 display:block;
 width:167px;
 height:45px;
 padding:6px 10px 0px 16px;
 _overflow:hidden;
 _padding-left:15px;
}
.dd_class2{
 height:65px;
}
.dd_class2 a{
 display:block;
 width:167px;
 height:54px;
 padding:10px 10px 0px 16px;
 _overflow:hidden;
 _padding-left:15px;
}
.info_main dl dt a:hover,.info_main dl dd a:hover{
 background:#e5f4f7;
}
.dt_span{
 float:left;
 width:168px;
 height:18px;
 color:#8e9090;
 cursor:pointer;
}
.dt_span2{ 
 float:left;
 width:168px;
 height:25px;
 line-height:25px;
 color:#2f3331;
 overflow:hidden;
 cursor:pointer;
}
.i_zi{
 float:left;
 font-style:normal;
}
.i_time{
 float:right;
 font-style:normal;
}
/*标签及搜索页*/
.att_u{
 float:left;
 line-height:25px;
 _line-height:27px;
 padding-left:39px;
 margin-top:6px;
 cursor:pointer;
}
.att_a{
 display:block;
 width:194px;
 height:36px;
 margin-left:2px;
 color:#6a888b;
}
.att_a:hover{
 background:#e5f4f7;
 text-decoration:none;
}
.tag_list{
 float:left;
 width:196px;
 height:auto;
 margin:10px 0px 0px 4px;
 _display:inline;
}
.tag_list ul{
 list-style:none;
}
.tag_list ul li{
 width:auto;
 float:left;
 height:26px;
 line-height:26px;
 text-align:center;
 white-space:nowrap;
 margin:0px 6px 5px 0px;
}
.tag_list ul li a{
 display:block;
 padding:0px 12px;
 color:#FFFFFF;
}
.tag_list ul li a:hover{
 background:#387074;
 text-decoration:none;
}
.taglist_li1{
 background:#bbbbbe;
}
.taglist_li2{
 background:#cacacc;
}
.taglist_li3{
 background:#77777c;
}
.taglist_li4{
 background:#a1a1a5;
}
.taglist_li5{
 background:#2b2b33;
}
.taglist_li6{
 background:#b3b3b6;
}
/*关于我们*/
.web_bg{
 background:url(../images/webother_bg.jpg) repeat;
}
.web_topbg{
 background:url(../images/web_topbg.jpg) repeat-x;
}
.web_logo{
 position:absolute;
 width:311px;
 height:66px;
 background:url(../images/webother_btn.png) no-repeat;
 top:0px;
 left:0px;
}
.web_logo a{
 display:block;
 width:311px;
 height:66px;
}
.web_navbg{
 background:none;
 width:960px;
}
.f_right{
 float:right;
}
.f_left{
 float:left;
}
.web_frame{
 width:848px;
 height:auto;
 margin:21px auto 0px;
 overflow:hidden;
}
.web_left{
 float:left;
 width:690px;
 height:auto;
}
.web_left_top{
 float:left;
 width:690px;
 height:14px;
 background:url(../images/webother_btn.png) no-repeat 0px -72px;
 overflow:hidden;
}
.web_left_main{
 float:left;
 width:637px;
 height:auto;
 background:url(../images/webother_main_bg.png) repeat-y;
 padding-left:53px;
}
.web_left_main p{
 line-height:24px;
 margin:0px 50px 0px 0px;
 color:#3f3f3f;
 font-size:14px;
}
.web_left_main p.p_short{
 margin:0px 50px 0px 15px;
}
.web_left_main p.lineheight32{
 line-height:32px;
}
.web_left_main p.fontsize16{
 font-size:16px;
}
.paddingb22{
 padding-bottom:22px;
}
.paddingt20{
 padding-top:20px;
}
.web_h3{
 float:left;
 width:637px;
 height:42px;
 font-size:18px;
 color:#155866;
 font-weight:500;
 padding-top:24px;
}
.web_dashed{
 float:left;
 width:587px;
 height:2px;
 overflow:hidden;
 background:url(../images/webother_btn.png) no-repeat -51px -92px;
 margin:29px 0px 5px 0px;
}
.web_green{
 color:#155866;
}
.web_left_bottom{
 float:left;
 width:690px;
 height:60px;
 background:url(../images/webother_btn.png) no-repeat 0px -103px;
}
.web_right{
 float:left;
 width:144px;
 height:auto;
 margin-left:14px;
}
.web_right ul{
 list-style:none;
}
.web_right ul li{
 float:left;
 width:144px;
 height:29px;
 line-height:29px;
 margin-bottom:5px;
 font-size:15px;
}
.web_right ul li a{
 display:block;
 width:126px;
 padding-left:18px;
 height:29px;
 color:#3f3f3f;
 background:url(../images/webother_btn.png) no-repeat -546px -34px;
}
.web_right ul li a:hover{
 background:url(../images/webother_btn.png) no-repeat -546px 0px;
 color:#fff;
 text-decoration:none;
}
.web_right ul li.web_current a{
 background:url(../images/webother_btn.png) no-repeat -546px 0px;
 color:#fff;
}
.margint8b15{
 margin:8px 0px 15px;
}
/*padding及margin指调整样式*/
.margin_t8{
 margin-top:8px;
}
.margin_r2{
 margin-right:2px;
}
.paddingl0{
 padding-left:0px;
 width:197px;
}
.margin_t0{
 margin-top:0px;
}
.margin_b0{
 margin-bottom:0px !important;
}
.margin_b10{
 margin-bottom:10px !important;
}
.margin_b22{
 margin-bottom:22px;
}
.margin_t20{
 margin-top:20px;
}
.margint14{
 margin-top:14px;
}
/*复选框ie6ie7偏下的问题*/
.input_t4{
 *margin-top:-4px;/*只支持ie6ie7*/
 margin-right:8px;
 *margin-right:6px;/*只支持ie6ie7*/
}
.input_tt4{
 *margin-top:-4px;/*只支持ie6ie7*/
 margin-right:6px;
 _margin-right:4px;/*只支持ie6ie7*/
}
.input_tt4_span{
 float:left;
 margin-top:2px;
 width:22px;
 _margin-right:-3px;
}
/*最底空出*/
.kong{
 width:100%;
 height:48px;
 float:left;
}
/*回到顶部*/
.totop{
 width:50px;
 position:fixed;
 right:50%;
 bottom:20px;
 margin-right:-436px;
 _position:absolute;
 _top:expression(eval(document.documentElement.scrollTop+500));
 z-index:1000;
}
.to_top{
 float:left;
 width:50px;
 height:50px;
 background:url(../images/totop.jpg) no-repeat;
 cursor:pointer;
}
.to_top_on{
 background:url(../images/totop.jpg) no-repeat -50px 0px;
}
body{
_background-image:url(about:blank);
_background-attachment:fixed;
}