@CHARSET "UTF-8";

/*划分*/
.index_body_div1{width:100%;}
.index_body_div2{width:100%; min-width:1000px;}
.index_left{float:left; position:fixed; height:100%; padding-top:20px; overflow:auto; width:20%; min-width:200px;}
.index_right{float:left; position:fixed; height:100%; right:0; width:80%; min-width:920px; padding:0px 0 30px 0;}
#index_right_context_html_iframe{width:100%; min-width:800px; height:100%; border:none; border-left:#F0F0F0 solid 1px; background-color:#FFF;}
/*划分 END*/

/*菜单*/
.index_left_menu_div{width:100%;}
.index_left_menu_div *{margin:1px 0 2px 0;-moz-transition:background-color .2s ease-in;-webkit-transition:background-color .2s ease-in;-o-transition:background-color .2s ease-in;-ms-transition:background-color .2s ease-in;transition:background-color .2s ease-in;}
.index_left_menu_div dl{margin-bottom:3px;}
.index_left_menu_div dt{width:90%; cursor:pointer; border:#F0F0F0 solid 1px; border-radius:10px 20px 30px 40px; background-color:#FAFAFA; font-size:20px;}
.index_left_menu_div dt:hover{background-color:#42A0FF; color:#FFF;}
.index_left_menu_div dd{width:80%; cursor:pointer; border-radius:10px 20px 30px 40px;}
.index_left_menu_div dd:hover,.dd_focus{border-radius:10px 20px 30px 40px; background-color:#42A0FF; color:#FFF;}
/*菜单END*/

/*正文*/

/*特殊处理Special treatment*/

div[D100],div[D90],div[D200]{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left;}
div[D200]{width:200px;}
div[D100]{width:100px;}
div[D90]{width:90px;}

/*特殊处理Special treatment END*/

/*分页标签*/
.pageString{position:fixed; top:10px; right:10px; background:#42A0FF; border:#42A0FF solid 1px; border-radius:3px;}
.pageString ul{list-style:none;width:100%;height:26px;margin-left:10px; text-align:center; font-family:"Courier New";}
.pageString ul li{float:left;border-radius:3px; min-width:16px; height:26px; line-height:26px; padding:0 5px 0 5px; margin-left:2px; background:#42A0FF;}
.pageString ul li:hover{background:#FFF;}
.pageString ul li:hover a{color:#000;}
.pageString ul li a{color:#FFF;}
.pageString ul li a:hover{color:#000;}
.pageString ul li.page_current{background:#FFF;}
.pageString ul li.page_current a{color:#000;}
.pageString ul li.page_current a:hover{color:#000;}
.pageString ul li select{width:50px;}
/*分页标签 END*/

/*'table_list_style' and 'table_list_style options btn'*/
.table_list_style{ min-width:800px; text-align:center; padding:10px; margin-top:40px; margin-bottom:80px;}
.table_list_style input{border:none;}
.table_list_style tr[mark]{background-color:#42A0FF; color:#FFF; line-height:26px;}
.table_list_style tr[mark] td{ border-bottom:#FFF solid 1px;}
.table_list_style tr,.options_btn_div_inside a{-moz-transition:background-color .2s ease-in;-webkit-transition:background-color .2s ease-in;-o-transition:background-color .2s ease-in;-ms-transition:background-color .2s ease-in;transition:background-color .2s ease-in;}
.table_list_style tr[id]:hover{background-color:#42A0FF; color:#FFF;}
.table_list_style tr[id]:hover a{color:#FFF;}
.table_list_style tr[id]:hover a:hover{color:#FF0;}
.table_list_style tr td[last]{ text-align:right; padding-right:10px;}

.options_btn_div_outside{ margin:10px 10px 0 10px; position:fixed; top:0px;}

.options_btn_div_inside{height:30px; line-height:30px; width:100%; background-color:#42A0FF; border-radius:3px;}
.options_btn_div_inside a{margin:0 5px 0 5px; padding:0 5px 0 5px; color:#FFF; cursor:pointer; border-radius:3px;}
.options_btn_div_inside a:hover{color:#42A0FF; background-color:#FFF;}

.table_list_style select{font-size:12px; height:20px;}

.table_list_style tr td>a:VISITED{color:#F0960A;}

/*'table_list_style' and 'table_list_style options btn'  END*/


/*搜索*/
.search_tools_div{position:fixed; left:0; bottom:10px; padding:0 5px 0 5px; margin-left:10px; background-color:#42A0FF; color:#FFF; height:60px; line-height:30px; border-radius:3px;}
.search_tools_div *{outline:none; border-radius:3px;}
/*.search_tools_div span{width:4em; float:left;}*/
.search_tools_div input[type='text']{padding:0 5px 0 5px; height:22px;}
.search_tools_div input[type='button']{cursor:pointer;background-color:#42A0FF; color:#FFF; border:#FFF solid 1px;}
.search_tools_div input[type='button']:hover{background-color:#FFF; color:#42A0FF;}
/*搜索END*/

/*正文END*/
