/* CSS Document */
/*会员页框架*/
.member_frame{
 width:898px;
 height:auto;
 margin:19px auto 0px;
 border:#dadada 1px solid;
 background:#FFFFFF;
}
/*会员设置*/
.member_h2{
 width:778px;
 height:97px;
 margin:0px 62px 0px 58px;
 border-bottom:#e5e5e5 1px solid;
}
.member_h2 h2{
 float:left;
 color:#288d94;
 font-size:30px;
 font-family:"Microsoft Yahei","微软雅黑";
 font-weight:500;
 padding-top:28px;
}
.member_h2 span{
 float:right;
 margin-right:3px;
 width:71px;
 height:25px;
 line-height:25px;
 text-align:center;
 font-weight:bold;
 margin-top:37px;
}
.member_h2 span a{
 display:block;
 width:71px;
 height:25px;
 background:url(../images/site_cion1.jpg) no-repeat;
 color:#FFFFFF;
}
.member_h2 span a:hover{
 background:url(../images/site_cion1.jpg) no-repeat -71px 0px;
 text-decoration:none;
}
/*密码邮件*/
.site_input{
 width:778px;
 height:auto;
 margin:24px 62px 0px 58px;
 padding-bottom:25px;
 border-bottom:#e5e5e5 1px solid;
}
.site_input dl{
 list-style:none;
 width:778px;
 height:52px;
}
.site_input dl dt{
 float:left;
 width:114px;
 height:52px;
 line-height:52px;
 text-align:right;
 color:#477e81;
 font-size:14px;
}
.site_input dl dd{
 float:left;
 width:256px;
 height:35px;
 margin-left:8px;
 display:inline;
 margin-top:10px;
 margin-bottom:7px;
 background:url(../images/site_input.jpg) no-repeat;
}
.site_input dl dd input{
 width:248px;
 height:27px;
 line-height:27px;
 border:0;
 padding:4px;
 font-size:14px;
 background:none;
}
.site_input dl dd.site_prompt{
 color:#ff0000;
 font-size:14px;
 line-height:35px;
 background:none;
 letter-spacing:1px;
}
/*地址*/
.site_address{
 width:778px;
 height:auto;
 margin:24px 62px 0px 58px;
 padding-bottom:28px;
 border-bottom:#e5e5e5 1px solid;
}
.site_address ul{
 width:778px;
 height:35px;
 list-style:none;
}
.site_address ul li{
 float:left;
 height:35px;
 margin-right:12px;
 font-size:14px;
}
.site_address ul li.s_li1{
 width:114px;
 text-align:right;
 color:#477e81;
 line-height:35px;
}
.site_address ul li.s_li2{
 width:93px;
 border-right:#b2b2b2 1px solid;
 background:url(../images/site_input.jpg) no-repeat;
 *border:0;/*只支持ie6ie7*/
 *background:none;/*只支持ie6ie7*/
}
.address_name{
 margin:4px;
 width:85px;
 height:22px;
 padding-top:5px;
 border:0;
 color:#747474;
 font-size:14px;
 text-align:center;
}
.site_address ul li.s_li3{
 width:207px;
 border-right:#b2b2b2 1px solid;
 background:url(../images/site_input.jpg) no-repeat;
 *border:0;/*只支持ie6ie7*/
 *background:none;/*只支持ie6ie7*/
}
.address_input{
 margin:4px 4px 4px 8px;
 height:27px;
 line-height:27px;
 color:#747474;
 font-size:14px;
 width:195px;
 border:0;
 *border:#b2b2b2 1px solid;
 *height:20px;/*只支持ie6ie7*/
 *line-height:22px;/*只支持ie6ie7*/
 *margin:3px 0px 0px 4px;/*只支持ie6ie7*/
}
/*联系方式*/
.site_contact{
 width:778px;
 height:auto;
 margin:23px 62px 0px 58px;
 padding-bottom:23px;
 border-bottom:#e5e5e5 1px solid;
}
.site_change{
 border:0;
 margin:0px;
 padding:0px;
}
.site_input_dd{
 width:204px !important;
 border-right:#b2b2b2 1px solid;
}
.site_ddbg{
 border-right:#3e9790 1px solid !important;
 background:url(../images/site_input.jpg) no-repeat -256px 0px !important;
}
.site_sex{
 width:778px;
 height:45px;
 font-size:14px;
 margin-bottom:10px;
}
.site_sex dl{
 list-style:none;
}
.site_sex dl dt{
 float:left;
 width:114px;
 height:45px;
 line-height:45px;
 color:#477e81;
 text-align:right;
 margin-right:16px;
}
.site_sex dl dd{
 float:left;
 width:64px;
 height:33px;
 margin-top:12px;
}
.marginb5{
 margin-bottom:5px;
}
.margint23{
 margin-top:15px;
}
.s_li1_marginr8{
 margin-right:8px !important;
}
.s_liwidth{
 width:71px !important;
}
.s_namewidth{
 width:63px;
}
/*动态设置（邮件提醒也用）*/
.site_trend{
 width:778px;
 height:auto;
 margin:23px 62px 0px 58px;
 padding-bottom:23px;
 border-bottom:#e5e5e5 1px solid;
}
.site_trend dl{
 width:778px;
 height:14px;
 list-style:none;
}
.site_trend dl dt{
 float:left;
 width:114px;
 color:#477e81;
 text-align:right;
 margin-right:16px;
 font-size:14px;
}
.site_trend dl dd{
 float:left;
 color:#747474;
 margin-right:60px;
 font-size:12px;
}
/*通知*/
.site_notice{
 width:778px;
 height:auto;
 margin:15px 62px 0px 58px;
 padding-bottom:15px;
 border-bottom:#e5e5e5 1px solid;
 overflow:hidden;
}
.site_notice dl{
 width:778px;
 height:64px;
 list-style:none;
}
.site_notice dl dt{
 float:left;
 width:114px;
 height:64px;
 line-height:32px;
 color:#477e81;
 text-align:right;
 margin-right:16px;
 font-size:14px;
}
.site_notice dl dd{
 float:left;
 width:auto;
 height:22px;
 color:#747474;
 margin-right:50px;
 padding-top:10px;
 overflow:hidden;
 font-size:12px;
 white-space:nowrap;
}
.site_notice dl dd.sn_wid{
 *width:300px;
}
/*黑名单and保存*/
.site_last{
 width:650px;
 height:auto;
 margin-left:190px;
 padding-bottom:26px;
}
.site_last dl{
 list-style:none;
}
.site_last dl dt{
 width:37px;
 height:14px;
 padding-top:14px;
 padding-bottom:2px;
 _padding-bottom:0px;
 border-bottom:#c6c6c6 1px solid;
 font-size:12px;
 margin-left:608px;
 padding-left:1px;
}
.site_last dl dt a{
 color:#747474;
}
.site_last dl dt a:hover{
 text-decoration:none;
 color:#568D99;
}
.site_last dl dd{
 margin-top:18px;
 width:70px;
 height:30px;
 line-height:30px;
 text-align:center;
 font-family:"Microsoft Yahei","微软雅黑";
 font-size:15px;
}
.site_last dl dd a{
 display:block;
 color:#FFF;
 width:70px;
 height:30px;
 background:url(../images/share_but02.jpg) no-repeat;
}
.site_last dl dd a:hover{
 background:url(../images/share_but02.jpg) no-repeat -70px 0px;
 text-decoration:none;
}
/*黑名单*/
.blacklist_h2{
 margin:32px 0px 37px 58px;
 height:40px;
 color:#288d94;
 font-size:30px;
 font-family:"Microsoft Yahei","微软雅黑";
 font-weight:500;
 overflow:hidden;
}
.b_margin{
  margin:29px 0px 5px 58px;
}
/*输入黑名单*/
.blacklist_write{
 width:778px;
 height:auto;
 margin:0px 62px 0px 58px;
 padding-bottom:18px;
 border-bottom:#e5e5e5 1px solid;
}
.blacklist_note{
 width:778px;
 height:20px;
 line-height:20px;
 font-size:12px;
 text-indent:42px;
 color:#9E9E9E;
}
.blacklist_write dl{
 list-style:none;
}
.blacklist_write dl dt{
 width:738px;
 height:33px;
 font-size:14px;
 color:#646464;
 padding-left:40px;
}
.blacklist_write dl dd{
 width:778px;
 height:35px;
}
.black_input{
 float:left;
 margin:0px 10px 0px 40px;
 width:256px;
 height:35px;
 background:url(../images/site_input.jpg) no-repeat;
 display:inline;
}
.b_bg{
 background:url(../images/site_input.jpg) no-repeat -256px 0px !important;
}
.black_input input{
 margin:4px 4px 4px 8px;
 width:244px;
 height:27px;
 line-height:27px;
 font-size:14px;
 border:0;
}
.black_but{
 float:left;
 width:94px;
 height:35px;
 line-height:35px;
 text-align:center;
}
.black_but a{
 display:block;
 width:94px;
 height:35px;
 background:url(../images/blacklist_but.jpg) no-repeat;
 font-size:15px;
 font-family:"Microsoft Yahei","微软雅黑";
 color:#FFFFFF;
}
.black_but a:hover{
 background:url(../images/blacklist_but.jpg) no-repeat -94px 0px;
 text-decoration:none;
}
/*黑名单列表*/
.blacklist_list{
 width:722px;
 height:38px;
 border-bottom:#e5e5e5 1px solid;
 margin:0px 88px;
}
.bottom_no{
 border:0;
}
.blacklist_list dl{
 list-style:none;
}
.blacklist_list dl dt{
 float:left;
 width:20px;
 height:20px;
 margin:9px 15px 9px 6px;
 display:inline;
}
.blacklist_list dl dt img{
 width:20px;
 height:20px;
}
.blacklist_list dl dd{
 float:left;
 width:auto;
 height:38px;
}
.bl_name{
 float:left;
 width:468px;
 height:38px;
 line-height:38px;
 font-size:13px;
 color:#787777;
}
.bl_time{
 float:left;
 width:156px;
 height:38px;
 line-height:38px;
 font-size:12px;
 color:#9e9e9e;
}
.bl_but{
 float:left;
 width:54px;
 height:19px;
 line-height:19px;
 text-align:center;
 font-size:12px;
 margin:9px 0px
}
.bl_but a{
 display:block;
 width:54px;
 height:19px;
 background:url(../images/blacklist_but2.jpg) no-repeat;
 color:#fff;
}
.bl_but a:hover{
 background:url(../images/blacklist_but2.jpg) no-repeat -54px 0px;
 text-decoration:none;
}
/*好友推荐等*/
.invite_freind{
 width:820px;
 height:30px;
 margin:25px 35px 20px 43px;
}
.invite_freind ul{
 list-style:none;
}
.invite_freind ul li{
 float:left;
 height:30px;
 line-height:30px;
 font-size:14px;
}
.invite_freind ul li.inv_li1{
 width:270px;
 color:#5a5a5a;
}
.invite_freind ul li.inv_li1 em{
 font-style:normal;
 color:#1e7e87;
}
.invite_freind ul li.inv_li2{
 width:186px;
 color:#636363;
}
.invite_freind ul li.inv_li3{
 width:290px;
}
.invite_freind ul li.inv_li3 input{
 width:280px;
 height:20px;
 line-height:20px;
 border:#5d898b 1px solid;
 background:#f6f6f6;
 color:#5b5b5b;
 padding:4px;
 font-size:14px;
}
.input_bg{
 background:#e0e0e0 !important;
 border:#5d898b 1px solid !important;
 color:#2b2b2b !important;
}
.invite_freind ul li.inv_li4{
 width:60px;
 margin-left:14px;
 text-align:center;
}
.invite_freind ul li.inv_li4 a{
 display:block;
 width:60px;
 height:30px;
 background:url(../images/invite_cion.jpg) no-repeat;
 color:#fff;
 font-family:"Microsoft Yahei","微软雅黑";
}
.invite_freind ul li.inv_li4 a:hover{
 background:url(../images/invite_cion.jpg) no-repeat -60px 0px;
 text-decoration:none;
}
/*我推荐的好友列表*/
.invite_list{
 width:818px;
 height:52px;
 margin:0px 37px 0px 43px;
 padding:15px 0px 13px;
 border-top:#e5e5e5 1px solid;
}
.invite_list dl{
 list-style:none;
}
.invite_list dl dt{
 float:left;
 width:50px;
 height:50px;
 margin:0px 15px 2px 0px;
}
.invite_list dl dt img{
 width:50px;
 height:50px;
}
.invite_list dl dd{
 float:left;
 height:26px;
 line-height:26px;
}
.inv_dd1{
 font-size:12px;
 color:#7a7a7a;
 width:303px;
}
.inv_dd1 em{
 font-style:normal;
 color:#1e7e87;
}
.inv_dd2{
 font-size:12px;
 width:450px;
 color:#7a7a7a;
}
.inv_dd2 em{
 font-style:normal;
 margin-left:74px;
}
.inv_dd3{
 font-size:14px;
 color:#7a7a7a;
 width:303px;
}
.inv_dd3 em{
 font-style:normal;
 color:#565656;
}
.inv_dd3 a{
 color:#7a7a7a;
}
.inv_dd3 a:hover{
 color:#568D99;
}
.inv_dd4{
 font-size:14px;
 color:#1e7e87;
 width:450px;
}
.inv_dd4 a{
 color:#1e7e87;
}
.inv_dd4 a:hover{
 color:#525252;
}
/*邀请好友加入亲邻*/
.invite_all{
 width:784px;
 height:85px;
 margin:0px auto;
}
.invite_all h2{
 font-size:30px;
 font-family:"Microsoft Yahei","微软雅黑";
 font-weight:500;
 color:#077c84;
 padding-top:26px;
}
/*链接邀请*/
.invite_link{
 width:784px;
 height:70px;
 margin:0px auto;
 background:url(../images/invite_bg.jpg) no-repeat;
 margin-bottom:30px;
}
.invite_link dl{
 list-style:none;
 float:left;
}
.invite_link dl dt{
 float:left;
 width:35px;
 height:52px;
 font-size:24px;
 color:#fff;
 font-family:"Microsoft Yahei","微软雅黑";
 padding:18px 0px 0px 26px;
}
.invite_link dl dd{
 float:left;
 height:48px;
 line-height:48px;
 font-size:20px;
 font-family:"Microsoft Yahei","微软雅黑";
 color:#424242;
 margin:12px 0px 10px 0px;
}
.inv_link1{
 width:112px;
}
.inv_link2{
 width:2px;
 background:url(../images/invite_line.png) no-repeat;
}
.invite_link ul{
 list-style:none;
 float:left;
 margin-left:31px;
 width:578px;
}
.invite_link ul li{
 float:left;
 height:30px;
 line-height:30px;
 font-size:14px;
}
.inv_linkli1{
 width:578px;
 color:#141414;
}
.inv_linkli2{
 width:466px;
}
.inv_linkli2 input{
 width:456px;
 height:18px;
 line-height:18px;
 border:#5d898b 1px solid;
 background:#f6f6f6;
 font-size:14px;
 color:#5b5b5b;
 padding:4px;
}
.inv_linkli3{
 width:60px;
 margin-left:12px;
 text-align:center;
}
.inv_linkli3 a{
 display:block;
 width:60px;
 height:30px;
 font-family:"Microsoft Yahei","微软雅黑";
 color:#fff;
 background:url(../images/invite_cion.jpg) no-repeat;
}
.inv_linkli3 a:hover{
 background:url(../images/invite_cion.jpg) no-repeat -60px 0px;
 text-decoration:none;
}
/*邀请站外好友*/
.inv_link3{
 width:143px;
}
.invite_outside{
 float:left;
 width:550px;
 height:24px;
 margin:20px 0px 21px 18px;
 display:inline;
}
.invite_outside span{
 float:left;
 height:24px;
 line-height:24px;
 margin-right:15px;
 color:#3a3a3a;
 font-size:15p;
 padding-left:30px;
 cursor:pointer;
 font-size:15px;
}
.inv_libg1{
 background:url(../images/invite_web.png) no-repeat;
}
.inv_libg2{
 background:url(../images/invite_web.png) no-repeat 0px -24px;
}
.inv_libg3{
 background:url(../images/invite_web.png) no-repeat 0px -48px;
}
.inv_libg4{
 background:url(../images/invite_web.png) no-repeat 0px -72px;
}
.inv_libg5{
 background:url(../images/invite_web.png) no-repeat 0px -96px;
}
.inv_libg6{
 background:url(../images/invite_web.png) no-repeat 0px -120px;
}
/*邀请MSN好友及邮箱联系人*/
.invite_msn{
 width:784px;
 height:213px;
 margin:0px auto 30px;
 background:url(../images/invite_bg.jpg) no-repeat 0px -70px;
}
.inv_msnemail{
 float:left;
 width:367px;
 height:213px;
}
.inv_msnemail dl{
 list-style:none;
 float:left;
}
.inv_msnemail dl dt{
 float:left;
 width:35px;
 height:43px;
 font-size:24px;
 color:#fff;
 font-family:"Microsoft Yahei","微软雅黑";
 padding:18px 0px 0px 26px;
}
.inv_msnemail dl dd{
 float:left;
 width:200px;
 height:33px;
 line-height:33px;
 font-size:20px;
 font-family:"Microsoft Yahei","微软雅黑";
 color:#424242;
 margin:18px 0px 10px 0px;
}
.inv_note{
 float:left;
 width:306px;
 height:23px;
 font-size:14px;
 color:#676767;
 padding-left:61px;
}
.inv_msnemail ul{
 list-style:none;
 float:left;
 margin-left:61px;
 _display:inline;
 list-style:none;
}
.inv_msnemail ul li{
 float:left;
 width:306px;
 height:40px;
 color:#3a3a3a;
 font-size:14px;
}
.inv_msnspan{
 float:left;
 width:45px;
 height:40px;
 line-height:40px;
}
.inv_msninput{
 float:left;
 width:172px;
 height:20px;
 line-height:20px;
 border:#5d898b 1px solid;
 background:#f6f6f6;
 padding:4px;
 margin-top:5px;
 font-size:13px;
}
.inv_msnbut{
 float:left;
 width:60px;
 height:30px;
 margin-left:105px;
 margin-top:5px;
 text-align:center;
 display:inline;
}
.inv_msnbut a{
 display:block;
 width:60px;
 height:30px;
 line-height:30px;
 color:#fff;
 background:url(../images/invite_cion.jpg) no-repeat;
 font-family:"Microsoft Yahei","微软雅黑";
}
.inv_msnbut a:hover{
 background:url(../images/invite_cion.jpg) no-repeat -60px 0px;
 text-decoration:none;
}
.inv_line2{
 float:left;
 width:2px;
 height:156px;
 background:url(../images/invite_line.png) no-repeat -2px 0px;
 margin-top:34px;
}
.inv_msninput2{
 width:98px;
}
.inv_msnspan2{
 float:left;
 width:29px;
 height:40px;
 text-align:center;
 line-height:40px;
}
.inv_msnselect{
 float:left;
 width:106px;
 height:28px;
 margin-top:5px;
 background:#f6f6f6;
 border:#5d898b 1px solid;
 font-size:15px;
 *font-size:20px;
 padding-top:2px;
}
/*邮箱邀请*/
.invite_email{
 width:784px;
 height:287px;
 margin:0px auto 30px;
 background:url(../images/invite_bg.jpg) no-repeat 0px -283px;
}
.invite_email dl{
 list-style:none;
 float:left;
 width:784px;
}
.invite_email dl dt{
 float:left;
 width:35px;
 height:43px;
 font-size:24px;
 color:#fff;
 font-family:"Microsoft Yahei","微软雅黑";
 padding:18px 0px 0px 26px;
}
.invite_email dl dd{
 float:left;
 width:200px;
 height:33px;
 line-height:33px;
 font-size:20px;
 font-family:"Microsoft Yahei","微软雅黑";
 color:#424242;
 margin:18px 0px 10px 0px;
}
.inv_emailzi{
 float:left;
 width:44px;
 height:226px;
 margin-left:61px;
 font-size:14px;
 color:#3a3a3a;
 display:inline;
}
.inv_emailzi ul{
 list-style:none;
}
.inv_emailzi ul li.email_li1{
 float:left;
 width:44px;
 height:39px;
 margin-top:6px;
}
.inv_emailzi ul li.email_li2{
 float:left;
 width:44px;
}
.inv_emailname{
 width:464px;
 color:#888888;
 font-size:12px;
 margin-top:2px;
 margin-bottom:15px;
}
.inv_textarea{
 float:left;
 width:464px;
 height:109px;
 background:#f6f6f6;
 border:#5d898b 1px solid;
 overflow-y:auto;
 font-size:12px;
 margin-right:205px;
 padding:4px;
}
.inv_emailbut{
 float:left;
 width:60px;
 height:30px;
 margin-top:14px;
 text-align:center;
}
.inv_emailbut a{
 display:block;
 width:60px;
 height:30px;
 line-height:30px;
 color:#fff;
 background:url(../images/invite_cion.jpg) no-repeat;
 font-family:"Microsoft Yahei","微软雅黑";
}
.inv_emailbut a:hover{
 background:url(../images/invite_cion.jpg) no-repeat -60px 0px;
 text-decoration:none;
}