/* CSS Document */
/*管理关注框架调整*/
.width648{
 width:646px;
 border:#dadada 1px solid;
 background:#FFFFFF;
}
.margin_l26{
margin-left:40px;
}
.paddingb76{
 padding-bottom:76px;
}
/*管理关注*/
.per_h2{
 float:left;
 width:580px;
 height:74px;
 margin:0px 30px 0px 36px;
 border-bottom:#e5e5e5 1px solid;
 _display:inline;
}
.per_h2 h2{
 float:left;
 width:155px;
 margin-top:21px;
 color:#077c84;
 font-size:24px;
 font-weight:500;
 font-family:"Microsoft Yahei","微软雅黑";
}
.per_span{
 float:left;
 color:#000;
 font-size:16px;
 margin-top:26px;
}
.per_bloglist{
 float:left;
 width:580px;
 height:81px;
 margin:0px 30px 0px 36px;
 border-bottom:#e5e5e5 1px solid;
 _display:inline;
 _margin-right:-3px;
}
.per_bloglist dl{
 float:left;
 width:430px;
 list-style:none;
}
.per_bloglist dl dt{
 float:left;
 width:50px;
 height:50px;
 margin:16px 13px 15px 0px;
}
.per_bloglist dl dt img{
 width:50px;
 height:50px;
}
.per_bloglist dl dd{
 float:left;
 width:300px;
}
.per_list1{
 margin-top:30px;
 font-size:14px;
}
.per_list1 a{
 color:#303030;
 font-weight:bold;
}
.per_list1 a:hover{
 color:#568D99;
 text-decoration:underline;
}
.per_but{
 float:right;
 width:67px;
 height:19px;
 margin-top:30px;
}
.per_cancel{
 display:block;
 width:67px;
 height:19px;
 background:url(../images/find_onoff.png) -67px 0px no-repeat;
}
.per_cancel:hover{
 background:url(../images/member_onoff.png) -67px 0px no-repeat;
}
/*个人主页被关注*/
.per_number{
 float:left;
 color:#1e7e87;
 font-size:16px;
 margin-top:27px;
}
.per_number em{
 font-style:normal;
 color:#1e1e1e;
}
.per_search{
 float:right;
 margin-top:18px;
}
.per_list2{
 margin-top:16px;
 font-size:14px;
}
.per_list3{
 margin-top:10px;
 font-size:12px;
}
.per_list3 a{
 color:#303030;
 font-weight:100;
}
.per_certain{
 display:block;
 width:67px;
 height:19px;
 background:url(../images/find_onoff.png) no-repeat;
}
.per_certain:hover{
 background:url(../images/member_onoff.png) no-repeat;
}
.per_be_sort{
 float:left;
 width:580px;
 height:30px;
 line-height:30px;
 margin:0px 30px 0px 36px;
 color:#303030;
 padding-bottom:12px;
 border-bottom:#e5e5e5 1px solid;
 _display:inline;
}
.per_bspan{
 float:left;
 width:65px;
 height:30px;
 font-weight:bold;
}
.be_sort_span{
 float:left;
 width:113px;
 height:28px;
 border:#bbbbbb 1px solid;
 *border:0px;
}
.be_sort_sls{
 float:left;
 width:110px;
 height:23px;
 padding-top:5px;
 font-size:14px;
 color:#656565;
 background:none;
 border:0;
 *margin-top:5px;
}
.border_non{
 border:0px;
 height:66px;
}
/*个人私信框架调整*/
.width648_letter{
 width:648px;
}
/*个人私信*/
.per_letterlist{
 float:left;
 width:646px;
 height:100px;
 border:#dadada 1px solid;
 background:#FFFFFF;
}
.per_letterlist dl{
 list-style:none;
}
.per_letterlist dl dt{
 float:left;
 width:60px;
 height:60px;
 margin:24px 18px 16px 20px;
 _display:inline;
}
.per_letterlist dl dt img{
 width:60px;
 height:60px;
}
.per_letterlist dl dd{
 float:left;
 width:526px;
}
.letter_list1{
 height:32px;
 margin-top:11px;
}
.letter_span1{
 float:left;
 width:378px;
 height:19px;
 margin-top:13px;
 font-size:14px;
 font-weight:bold;
}
.letter_span1 a{
 color:#2f2f2f;
}
.letter_span1 a:hover{
 color:#568D99;
 text-decoration:underline;
}
.letter_span2{
 float:left;
 height:27px;
 width:80px;
 margin-top:3px;
 font-size:12px;
}
.letter_span2 a{
  color:#568D99;
  margin-right:12px;
}
.letter_span2 a:hover{
 color:#525252;
 text-decoration:underline;
}
.letter_span3{
 float:right;
 width:67px;
 height:19px;
 line-height:19px;
 text-align:center;
 font-size:12px;
}
.letter_span3 a{
 display:block;
 width:67px;
 height:19px;
 color:#FFF;
 background:url(../images/letter_onoff.jpg) no-repeat;
}
.letter_span3 a:hover{
 background:url(../images/letter_onoff.jpg) no-repeat -67px 0px;
 text-decoration:none;
}
.letter_list2{
 height:44px;
 line-height:22px;
 color:#2a2a2a;
}
.per_letterall{
 float:left;
 width:648px;
 height:auto;
 background:#fff;
 margin-bottom:10px;
}
.per_h3{
 float:left;
 width:578px;
 height:37px;
 line-height:37px;
 font-size:14px;
 color:#000;
 padding-left:22px;
}
.per_h3em{
 font-style:normal;
 font-size:13px;
 color:#717171;
 margin-left:15px;
}
.per_btn_s{
 float:left;
 width:648px;
 height:40px;
}
.per_btn_tosend{
 float:left;
 width:78px;
 height:27px;
 margin-left:22px;
 background:url(../images/per_btn.jpg) no-repeat;
 cursor:pointer;
 _display:inline;
}
.per_btn_search{
 float:right;
 width:245px;
 height:23px;
 margin-top:2px;
 background:url(../images/per_btn.jpg) no-repeat 0px -27px;
}
.stext_input{
 float:left;
 width:170px;
 height:19px;
 line-height:19px;
 padding:2px 2px 2px 4px;
 color:#999999;
 font-size:13px;
 border:0;
 background:none;
}
.stext_btn{
 float:left;
 width:44px;
 height:23px;
 margin-left:3px;
 cursor:pointer;
 background:none;
 border:0;
}
.per_box_let{
 float:left;
 width:648px;
 height:168px;
}
.per_box_left{
 float:left;
 width:63px;
 height:157px;
 padding-left:21px;
 padding-top:11px;
}
.per_box_left ul{
 list-style:none;
}
.per_box_left ul li{
 float:left;
 width:63px;
 height:28px;
 line-height:28px;
 text-align:right;
 font-size:12px;
 color:#000;
}
.per_box_input1{
 float:left;
 width:242px;
 padding:2px 2px 2px 4px;
 height:18px;
 line-height:18px;
 border:#97afb0 1px solid;
 background:#f4f4f4;
 font-size:12px;
 margin-top:13px;
 color:#999;
}
.per_box_divtext{
 float:left;
 width:533px;
 height:68px;
 padding:2px 2px 2px 4px;
 border:#97afb0 1px solid;
 background:#f4f4f4;
 margin-top:9px;
 font-size:12px;
 overflow_y:auto;
}
.per_box_img{
 float:left;
 width:542px;
 height:37px;
}
.per_imgspan{
 float:left;
 width:31px;
 height:16px;
 margin-top:11px;
 padding-left:20px;
 color:#5a5a5a;
 font-size:12px;
 cursor:pointer;
}
.per_imgspan1{
 background:url(../images/per_img.jpg) no-repeat 0px -2px;
}
.per_imgspan2{
 background:url(../images/per_img.jpg) no-repeat 0px -32px;
}
.widthbtn{
 float:right;
 width:60px;
 height:30px;
 line-height:30px;
 text-align:center;
 font-size:15px;
 margin-top:9px;
}
.widthbtn a{
 color:#fff;
 display:block;
 width:60px;
 height:30px;
 background:url("../images/invite_cion.jpg") no-repeat;
}
.widthbtn a:hover{
 background:url("../images/invite_cion.jpg") no-repeat -60px 0px;
 text-decoration:none;
}
/*个人私信对话框*/
.per_letterbox{
 float:left;
 width:646px;
 height:auto;
 border:#dadada 1px solid;
 background:#FFFFFF;
 margin-top:8px;
 display:none;
}
.letter_text{
 float:left;
 width:604px;
 height:163px;
 margin:0px 21px;
 _display:inline;
 border-bottom:#dbdbdb 1px solid;
}
.letter_text dl{
 list-style:none;
}
.letter_text dl dt{
 float:left;
 width:578px;
 height:39px;
 line-height:39px;
 font-weight:bold;
 font-size:16px;
 color:#303030;
}
.letter_text dl dd{
 float:left;
}
.letter_dd1{
 width:26px;
 height:39px;
 line-height:38px;
}
.letter_dd1 a{
 color:#4c4b4b;
}
.letter_dd1 a:hover{
 color:#568D99;
 text-decoration:underline;
}
.letter_dd2{
 width:604px;
 height:74px;
}
.letter_dd2 textarea{
 width:594px;
 height:64px;
 border:#5d898b 1px solid;
 padding:4px;
 background:#f4f4f4;
 font-size:13px;
 overflow-y:auto;
}
.letter_dd3{
 width:60px;
 height:30px;
 margin-top:10px;
 text-align:center;
 line-height:30px;
 margin-left:544px;
 _display:inline;
}
.letter_dd3 a{
 color:#FFFFFF;
 display:block;
 width:60px;
 height:30px;
 background:url(../images/invite_cion.jpg) no-repeat;
}
.letter_dd3 a:hover{
 background:url(../images/invite_cion.jpg) no-repeat -60px 0px;
 text-decoration:none;
}
.letter_talk{
 float:left;
 width:604px;
 height:auto;
 margin:10px 21px 0px;
 _display:inline;
}
.letter_talk ul{
 list-style:none;
}
.letter_talk ul li{
 float:left;
 width:604px;
 line-height:24px;
 margin-bottom:2px;
 color:#5d5d5d;
 word-wrap:break-word; 
 overflow:hidden;
}
.letter_talk ul li em{
 font-style:normal;
}
.letter_talk ul li em a{
 color:#989898;
}
.letter_talk ul li em a:hover{
 color:#568D99;
 text-decoration:underline;
}
/*系统私信*/
.system_letter dl dt{
 float:left;
 width:618px;
 height:32px;
 margin:11px 0px 0px 14px;
 _display:inline;
}
.system_letter dl dd{
 width:618px;
 margin-left:14px;
 _display:inline;
}
.stytem_span{
 float:right;
 color:#999;
}
/*没有私信*/
.letter_none{
 margin:46px auto 0px;
 width:680px;
 height:345px;
 border:#dadada 1px solid;
 background:#FFF;
}
.let_none_h2{
 float:left;
 width:680px;
 height:86px;
}
.let_none_h2 h2{
 color:#077c84;
 font-size:30px;
 font-weight:500;
 margin-top:31px;
 margin-left:46px;
}
.letter_none p{
 margin:0px 45px;
 line-height:21px;
 letter-spacing:1px;
}
.block{
 display:block;
}
/*个人空间-推荐*/
.re_body{
 background:#d5e9ed;
 font-size:13px;
 font-family:"Microsoft Yahei","微软雅黑",Arial,Helvetica,STHeiti;
 cursor:default;
}
.re_top{
 width:595px;
 height:44px;
 padding-top:22px;
 margin:46px auto 0px;
 text-align:center;
 font-size:20px;
 color:#fff;
 font-weight:500;
 background:url(../images/re_top.png) no-repeat;
 font-family:"Microsoft Yahei","微软雅黑";
}
.re_main{
 width:585px;
 height:550px;
 margin:0px auto;
}
.re_main_lr{
 float:left;
 width:1px;
 height:550px;
 background:url(../images/re_bglr.png) no-repeat;
}
.re_main_bg{
 float:left;
 width:583px;
 height:550px;
 background:url(../images/re_bg.png) repeat-x;
}
.re_title{
 float:left;
 width:539px;
 height:20px;
 margin:28px 0px 0px 44px;
 color:#707070;
 _display:inline;
 overflow:hidden;
}
.re_em{
 font-size:16px;
 color:#2f2f2f;
 font-style:normal;
 font-weight:bold;
}
.re_textbg{
 float:left;
 width:505px;
 height:34px;
 margin:22px 38px 0px 40px;
 background:url(../images/re_textbg.png) no-repeat;
 _display:inline;
}
.re_text{
 float:left;
 width:494px;
 height:23px;
 line-height:23px;
 color:#1a1a1a;
 padding:4px;
 margin:2px 2px 1px 1px;
 border:0;
 background:none;
 font-size:13px;
}
.re_choose{
 float:left;
 width:540px;
 height:27px;
 font-size:16px;
 color:#0f0f0f;
 margin:48px 0px 0px 43px;
  _display:inline;
}
.re_choose_main{
 float:left;
 width:541px;
 height:auto;
 margin:12px 0px 0px 42px;
 _display:inline;
}
.re_choose_main ul{
 list-style:none;
 margin:0px;
 padding:0px;
}
.re_choose_main ul li{
 float:left;
 width:133px;
 height:30px;
 line-height:30px;
 margin:0px;
 padding:0px;
}
.re_span{
 float:left;
 margin-right:8px;
 _margin-right:4px;
 margin-top:6px;
 *margin-top:5px;
}
.re_but{
 float:left;
 width:246px;
 height:57px;
 line-height:57px;
 text-align:center;
 font-size:26px;
 margin-top:47px;
 margin-left:158px;
 _display:inline;
}
.re_but a,.re_but a:link,.re_but a:visited{
 display:block;
 width:246px;
 height:57px;
 color:#fff;
 background:url(../images/re_but.png) no-repeat;
 text-decoration:none;
}
.re_but a:hover{
 background:url(../images/re_but.png) no-repeat -246px 0px;
 text-decoration:none;
}
.re_bottom{
 width:595px;
 height:46px;
 margin:0px auto;
 background:url(../images/re_bottom.png) no-repeat;
}
/*感兴趣的人*/
.per_rtop{
 float:left;
 width:197px;
 height:24px;
 color:#6a888b;
 font-size:14px;
 line-height:24px;
}
.per_hot{
 float:left;
 width:197px;
 height:auto;
}
.per_hot ol{
 list-style:none;
}
.per_hot ol li{
 float:left;
 width:197px;
 height:40px;
 border-bottom:#c4c4c4 1px solid;
 position:relative;
}
.per_hot ol li a{
 display:block;
 width:197px;
 height:40px;
 background:#e3e4e8;
 color:#515050;
}
.per_hot ol li a:hover{
 background:#fff;
 text-decoration:none;
}
.per_img{
 float:left;
 width:30px;
 height:30px;
 margin:5px 12px 5px 5px;
 cursor:pointer;
}
.per_img img{
 width:30px;
 height:30px;
}
.per_office{
 float:left;
 width:100px;
 height:40px;
 line-height:40px;
 cursor:pointer;
 overflow:hidden;
}
.per_btn{
 position:absolute;
 top:12px;
 right:10px;
 width:43px;
 height:19px;
}
.per_btn a{
 width:43px !important;
 height:19px !important;
 display:block !important;
 background:url(../images/per_btn.gif) no-repeat !important;
}
.per_btn a:hover{
 background:url(../images/per_btn.gif) no-repeat -43px 0px !important;
 text-decoration:none !important;
}
.j_bottom{
 border:0 !important;
}